# APP
APP_PORT=4000
APP_URL=http://localhost:4000/api
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# DATABASE
DATABASE_URL=

# EMAIL
RESEND_API_KEY=
RESEND_FROM_EMAIL=
